<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>car</display-name>
	<listener>
	    <listener-class>car.CarListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>xmlServlet</servlet-name>
		<servlet-class>car_design.XmlServlet</servlet-class>  <!-- my package name is car_design -->
	</servlet>
	<servlet-mapping>
		<servlet-name>xmlServlet</servlet-name>
		<url-pattern>/api/dispatch</url-pattern>           <!-- url address for running -->
	</servlet-mapping>
</web-app>